/* Counter Assignment StyleSheet css
By: Julie Juneau Student#040930994*/

body{
    display: grid;

}

#form{

    display:grid;
    width:300px;
    grid-gap:10px;
    padding: 10px;
    justify-content: center;
    justify-self:center;
    border: solid grey 5px;
}

#countDown {

  display:grid;
  background-color:green;
  justify-content: center;
  justify-self: center;
  border: solid 5px black;
  font-family: monospace;
  font-style: bold;
  width:50%;
  height: 50px;

}

h1{
    display:grid;
    justify-content: center;
    color:violet;
}

h2{
    display:grid;
    justify-content: center;
    color:cadetblue;
}

.titleBox, 
#date{
    display:grid;
    justify-content: center;
    justify-self: center;
    Border: solid 5px green;
    width:200px;
    height:50px;
}

.required #titleInput, .required #dateInput {

    border:solid 5px red;
}

#clear {

    display: grid;
    width:300px;
    justify-content: center;
    justify-self: center;

    background-color:aquamarine;
    border: solid 5px black;


}

.hide{
    display:none;
}

@media screen and (min-width:300px){
    #form{
        width:400px;
    }

    .titleBox,
    #date {

        width:300px;
        height:100px;

    }

    #countDown{

        width:100px;
        height:50px;
    }


} 

@media screen and (min-width:400px) {
    #form {
        width: 500px;
    }

    .titleBox,
    #date {

        width: 400px;
        height: 100px;

    }

    #countDown {
        font-size: 20px;;
        width: 150px;
        height: 75px;
    }


}

@media screen and (min-width:600px) {
    #form {
        width: 600px;
    }

    .titleBox,
    #date {

        width: 500px;
        height: 150px;

    }

    #countDown {

        width: 200px;
        height: 100px;
    }


}

@media screen and (min-width:900px) {
    #form {
        width: 800px;
    }

    .titleBox,
    #date {

        width: 700px;
        height: 200px;

    }

    #countDown {

        width: 250px;
        height: 125px;
    }


}