/* Counter Assignment StyleSheet css
By: Julie Juneau Student#040930994*/

body{
    display: grid;

}

.form{

    display:grid;
    grid-gap:10px;
    padding: 10px;
    justify-content: center;
    border: solid red 10px;
}

.countDown{

  display:grid;
  background-color:aqua; 
  border: solid 5px black;
  font-family: monospace;
  font-style: bold;
  width:20%;
  height: 50px;

}

h1{
    display:grid;
    justify-content: center;
    color:blueviolet;
}

h2{
    display:grid;
    color:cadetblue;
}

.titleBox, .date{
    display:grid;
    Border: solid 5px aqua;
    width:500px;
    height:100px;
}